<?php

/*
|--------------------------------------------------------------------------
| API Connections config file
|--------------------------------------------------------------------------
|
| You can choose connection by passing the right connection name as
| a string on itinalizing API. Host, Account ID, Username and Password are
| required fields. Debug value is false by default.
| 
| If Debug mode is on, API will print detailed information about
| requests made with Clusterpoint PHP API.
|
| EU host : "https://api-eu.clusterpoint.com/v4"
| US host : "https://api-us.clusterpoint.com/v4"
|
*/

return array(

    'default' => array(
        'host' => 'https://api-eu.clusterpoint.com/v4',
        'account_id' => '',
        'username' => '',
        'password' => '',
        'debug' => false,
    ),

    'development' => array(
        'host' => 'https://api-eu.clusterpoint.com/v4',
        'account_id' => '',
        'username' => '',
        'password' => '',
        'debug' => true,
    ),
);
